
.~gitignore
*.backup
*.backup
*.bak
*.bak
*.~*
hodgepodge/readme.~md
*.~md
*.~md
SvgExplorer/default.po
SvgExplorer/FExplorerSVG.dfm
SvgExplorer/FExplorerSVG.pas
SvgExplorer/ignore.po
SvgExplorer/languages/de/default.mo
SvgExplorer/languages/de/default.po
SvgExplorer/languages/de/languages.mo
SvgExplorer/languages/es/default.mo
SvgExplorer/languages/es/default.po
SvgExplorer/languages/es/languages.mo
SvgExplorer/languages/fr/default.mo
SvgExplorer/languages/fr/default.po
SvgExplorer/languages/fr/languages.mo
SvgExplorer/languages/it/default.mo
SvgExplorer/languages/it/default.po
SvgExplorer/languages/it/languages.mo
SvgExplorer/languages/language.cfg
SvgExplorer/readme.md
SvgExplorer/SVGExplorer.dpr
SvgExplorer/SVGExplorer.res
